{{>adminhead}}
<div class="wrapper">
    {{>sidebar}}
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <div class="">
                    <h4 class="mt-2">Admin Dashboard</h4>
                </div>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">


                <!-- Table Element -->
                <form id="adminCatalogForm" class="form" action="" method="post">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="file_name">File Name</label>
                                <select id="file_name" class="form-control" name="file_name">
                                    <option value="">Select File Name</option>
                                    {{#each items}}
                                    <option value="{{this.file_name}}">{{this.file_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="file_id">File Id *</label>
                                <input type="text" class="form-control" placeholder="e.g. Assam Boundary" value=""
                                    name="file_id" id="file_id">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="workspace">Geoserver Workspace <span class="text-danger">*</span><span
                                        class="text-danger"></span></label>
                                <select class="form-control" id="workspace" name="workspace">
                                    <option value="">Select Workspace</option>
                                    <option value="agis">agis</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="store">Geoserver Store <span class="text-danger">*</span><span
                                        class="text-danger"></span></label>
                                <select class="form-control" id="store" name="store">
                                    <option value="">Select Store</option>
                                    <option value="catalog">catalog</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="title">Title *</label>
                                <input type="text" class="form-control" placeholder="e.g. Assam Boundary" id="title"
                                    name="title">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group last mb-3">
                                <label for="description">Description*</label>
                                <textarea class="form-control" placeholder="Description" id="description"
                                    name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Add To Catalog" class="btn px-5 btn-primary mt-2">
                </form>

            </div>
        </main>


    </div>
</div>
{{>footer}}