{{>adminhead}}
<div class="wrapper">
    {{>sidebar}}
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <div class="">
                    <h4 class="mt-2">Admin Dashboard</h4>
                </div>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">


                <!-- Table Element -->
                <form id="adminUploadForm" class="form" action="" method="post">

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="table_name">Shapefile Name<span class="text-danger">*[no space,special chareacter]</span></label>
                                <input type="text" class="form-control" placeholder="e.g. assam_state_boundary"
                                    id="table_name" name="table_name">
                            </div>
                        </div>


                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="workspace">Geoserver Workspace <span class="text-danger">*</span><span
                                    class="text-danger"></span></label>
                            <select class="form-control" id="workspace" name="workspace">
                                <option value="">Select Workspace</option>
                                <option value="agis">agis</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="dataStore">Geoserver DataStore <span class="text-danger">*</span><span
                                    class="text-danger"></span></label>
                            <select class="form-control" id="dataStore" name="data_store">
                                <option value="">Select DataStore</option>
                                <option value="catalog">catalog</option>
                            </select>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group first">
                                <label for="srid">SRID <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="srid" name="srid" value="4326">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">

                            <div class="form-group first">
                                <label for="shapefile">Select Sahpefile <span class="text-danger">*</span></label>
                                <input type="file" class="form-control" placeholder="shapefile" id="shapefile"
                                    name="shapefile">

                            </div>
                        </div>

                    </div>

                    <input type="submit" name="submit" value="Upload" class="btn px-5 btn-primary mt-2">


                </form>

            </div>
        </main>


    </div>
</div>
{{>footer}}