<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}


</head>

<body>

<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class=" " id="">
        <div class=" ">
            <a href="/catalog" class="nav-item nav-link active"><span class="material-symbols-outlined">
                    arrow_back
                </span></a>
        </div>
    </div>
    <a href="index.html" class="navbar-brand d-flex align-items-center px-1 px-lg-1">
        <a href="#" class="navbar-brand">
            <img src="/image/fav.png" alt="Icon" width="60" height="60" class="d-inline-block align-top">
        </a>
    </a>
    <h4 class="m-0 text-black"> Assam GIS Explorer</h4>
</nav>
    <!-- Service Start -->
    <div class="container" id="mapcont">
        <div class="text-center mx-auto mb-5 wow " style="max-width: 600px;">
            <h1>Our GeoSapatial Data Catalog</h1>
        </div>
       <div id="map" class="container-fluid" style="height: 70vh; width:70vw;">
       </div>

    </div>
    <!-- Service End -->

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.2.4/dist/ol.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    {{#each catalogItems}}
            const map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Tile({
                        source: new ol.source.TileWMS({
                            url: 'http://127.0.0.1:8080/geoserver/wms',
                            params: { 'LAYERS': `{{workspace}}:{{file_name}}`, 'TILED': true },
                            serverType: 'geoserver',
                            transition: 0,
                        })
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([93.5, 26]),
                    zoom: 6
                })
            });
            {{/each}}
                });
    </script>
</body>

</html>