</div>
</div>
</div>
</div>


</div>

{{!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="js/jquery-3.3.1.min.js"></script> --}}
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch('/user')
      .then(response => response.json())
      .then(data => {
        Swal.fire({
          icon: data.icon,
          title: data.title,
          text: data.message,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'OK'
        }).then((result) => {
          if (result.isConfirmed) {
            // Redirect to the same page or perform other actions
            window.location.href = '/';
          }
        });
      })
      .catch(error => {
        console.error('Error:', error);
        // Handle error, display alternative message, etc.
      });
  });
</script>

</body>

</html>