</div>
</div>
</div>
</div>


</div>

{{!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="js/jquery-3.3.1.min.js"></script> --}}
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.getElementById('registerForm').addEventListener('submit', function (e) {
    e.preventDefault(); // Prevent the default form submission

    const formData = new FormData(this); // Create a FormData object from the form
    const clickedButtonValue = e.submitter.value;
    formData.append('submit', clickedButtonValue);
    console.log(formData)

    fetch('/user', { // Send the FormData object to the "/" route
        method: 'POST',
        body: formData
    })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data) {
                Swal.fire({
                    title: data.title,
                    text: data.message,
                    icon: data.icon
                });
            } // Handle the response data
        })
        .catch(error => {
            console.error('Error:', error); // Handle any errors
        });
});

</script>

</body>

</html>